.showpage {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li {
      margin-right: 8px;
      margin-bottom: 4px;
      width: fit-content;
      color: white;
      background-color: #b56576;
      padding: 4px 8px;
    }
  }
  .link-btn {
    background-color: #BBD2C5;
    border: 0;
    &:hover {
      background-color: #122C34;
    }
  }
  h4 {
    margin-top: 56px;
    // margin-bottom: 0px;
    font-size: 32px;
  }
  strong {
    color: #b56576;
  }
}
.project-photos {
  .project-photo {
    // width: 100%;
  }
}

.carousel {
  height: 50vw;
  aspect-ratio: 16 / 9;
  width: auto;
  img {
    height: inherit;
  }
  border: 1px black solid;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
  img {
    object-fit: contain;
  }
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(43%) sepia(53%) saturate(479%) hue-rotate(297deg) brightness(95%) contrast(74%);;
}
