.banner {
  background-color: grey;
  ul {
    display: flex;
    list-style: none;
    li {
      margin-left: 16px;
    }
    li:first-child {
      margin-left: 0;
    }
  }
  h1 {
    font-size: 2.8rem;
  }
  i {
    color: green;
  }
}
