<div class="footer bg-dark p-5 d-flex flex-column flex-lg-row justify-content-around">
  <div class="footer-text d-flex flex-column justify-content-center">
    <h4 class= "text-center text-lg-start">Fairul Izwan</h4>
    <p class= "text-center text-lg-start m-lg-0">© 2023, Built and designed by Fairul Izwan</p>
  </div>
  <div class="footer-contact">
    <h4 class="text-center">Get in touch</h4>
    <ul class="p-0 m-0 justify-content-center">
      <li>
        <%= link_to "https://github.com/flabroo", target: :_blank do %>
          <i class="fa-brands fa-2xl fa-square-github"></i>
        <% end %>
      </li>

      <li>
        <%= link_to "https://www.linkedin.com/in/fairul-izwan/", target: :_blank do %>
          <i class="fa-brands fa-2xl fa-linkedin"></i>
        <% end %>
      </li>

      <li>
        <%= mail_to "izwanrul11@gmail.com", target: :_blank do %>
          <i class="fa-solid fa-2xl fa-envelope"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
