<div class="vh-100 errors d-flex flex-column align-items-center justify-content-center">
  <div class="glitch display-1 text-white" title="404">500</div>
  <p>The server encountered an error and could not process your request. Please try again later.</p>
  <%= link_to "/", root_path, class: "btn btn-secondary" %>
</div>
