<div class="vh-100 errors d-flex flex-column justify-content-center">
  <div class="container d-flex flex-column align-items-center">
    <div class="glitch text-white" title="404">404</div>
    <p class="text-center">The page you are looking for does not exist.</p>
    <%= link_to "/", root_path, class: "btn btn-secondary" %>
  </div>
</div>
