body {
  font-family: 'Rubik', sans-serif;
  cursor: default;
}

h1 {
  // font-size: 3.5rem;
  // font-size: 8vw;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #122C34;
  // -webkit-text-stroke: 1px white;
  text-shadow: white 1px 0 2px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(90deg, #BBD2C5, #536976, #292E49);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: fit-content;
  color: #122C34;
  transition: background-size 1s ease;
  // word-break: keep-all;
  // white-space: nowrap;
  &:hover {
    background-size: 100% 3px;
  }
}

h3 {
  font-size: 2.3rem;
  color: #122C34;
}

h4 {
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: -2px;
  color: #122C34;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  color: #122C34;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.link-text {
  color: #536976;
  text-decoration: underline;
  &:hover {
    color: #536976;
    text-decoration: underline;
  }
}

.gradient-text {
  // animation: background-pan 3s linear infinite;
  // background: linear-gradient(
  //   to right,
  //   darkblue,
  //   blue,
  //   cyan,
  //   darkblue
  // );
  // background-size: 200%;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // white-space: nowrap;
  text-shadow: none;
  font-family: 'Lobster', cursive;
  // color: #b56576;
  color: transparent;
  background: conic-gradient(
    #d9d7f1 12%,
    #baabda 12%,
    #baabda 33%,
    #e7fbbe 33%,
    #e7fbbe 55%,
    #ffcbcb 55%,
    #ffcbcb 70%,
    #b5deff 70%,
    #b5deff 87%,
    #f7d1ba 87%
    );
  background-size: auto 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // animation: rotate-rev 0.5s ease forwards;
  cursor: pointer;
  animation: shine 8s linear infinite;
}

@keyframes shine {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 200%;
  }
}
